node_modules
*.log
.git

coverage

.turbo

.next/
out/
build
dist

**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info

.terraformrc
terraform.rc


npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
*.pem
*.zip


